<!DOCTYPE html>
<html ng-app="dashApp">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
</head>
<body ng-controller="dashCtrl">
    <div class='command' ng-show="selectedRevision">
        Command for revision : {{selectedRevision.idInReq}} author {{selectedRevision.opt2}}
    </div>
    <div class='column'>
        <div ng-repeat="rev in revisions" ng-click="selectRevision(rev)">
            <span>{{rev.id}}</span>  - <span>{{rev.name}}</span>
        </div>
    </div>

    <div class='column'  ng-show="selectedRevision">
        <span>option 1</span>  - <span>{{selectedRevision.opt1}}</span>
        <span>option 2</span>  - <span>{{selectedRevision.opt2}}</span>
        <span>idInReq</span>  - <span>{{selectedRevision.idInReq}}</span>
        <button ng-click="initCommand()">SomeAction</button>
    </div>
</body>
